body {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: rgb(202, 252, 253);
  padding: 1rem;
}

header img {
  width: 23vw;
  border-radius: 1rem;
  cursor: pointer;
}

.content-section img {
  width: 80vw;
  aspect-ratio: 2/3;
  margin: 2rem auto;
  display: block;
  border-radius: 2rem;
  border: 2px solid black;
}

footer {
  text-align: center;
}